<tbody>
  <tr class="table-dark">
    <td><%= link_to post.title, post, class: "text-decoration-none text-light" %></td>
    <td><%= link_to post.member.username, post.member, class: "text-decoration-none text-light" %></td>
    <td><%= post.comments.count %></td>
  </tr>
</tbody>
