<% @posts.each do |category, posts| %>
  <div>
    <h1><%= category.capitalize() %></h1>
    <% if !posts.empty? %>
      <table>
        <%= render 'posts/partials/table_head' %>
        <% posts.each do |post| %>
          <%= render partial: 'posts/partials/table_body', locals: {post: post} %>   
        <% end %>
      </table>
    <% else %>
      <h3>There is no posts in this Category</h3>
    <% end %>
  </div>
<% end %>