/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  background: #777777;
}

.bg {
  background-image: url('page_backdrop.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  background-color: #D9DDDC;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  border: 1px solid #D9DDDC;
  border-radius: 16px;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
