<style>
  html, body {
    height: 100%; 
    margin: 0;
  }
</style>

<div class='bg'>
  <div class='position-absolute top-50 start-50 translate-middle text-center text-light'>
    <h1 class="fw-bold">FALLEN WOLVES</h1>
    <h3>Welcome to the home of the Fallen Wolves Community</h3>
    <h3>Please login or signup</h3>
    <%= link_to 'Login', '/login', class: "btn btn-dark btn-lg" %>
    <%= link_to 'Sign Up', new_member_path, class: "btn btn-dark btn-lg" %>
  </div>
</div>