<% if alert %>
  <div class="text-center alert alert-danger alert" role="alert">
    <% if alert.is_a?(Hash) %>
      <% alert.each do |message, error| %>
        <p><%= message.capitalize %> <%= error.join(" and ") %></p>
      <% end %>
    <% else %>
      <p><%= alert %></p>
    <% end %>
  </div>
<% end %>
