<h1>Update Info</h1>
<%= render partial: '/members/partials/form', locals: {submit: 'Update Info'} %>
 <%= link_to 'Close Account', @member, method: :delete, data: {confirm: 'Are you sure'} %></p>
<%= link_to 'Back', @member %>