<div class='text-center position-absolute top-50 start-50 translate-middle form'>
  <%= render partial: '/members/partials/form', locals: {submit: 'Update Info'} %>
  <%= link_to 'Close Account', @member, method: :delete, data: {confirm: 'Are you sure'}, class: 'w-50 btn-lg btn btn-outline-danger' %></p>
  <%= link_to 'Back', @member, class: 'w-50 btn btn-outline-primary btn-lg' %>
</div>