<% @members.all.each do |member| %>
  <%= link_to image_tag(url_for(member.avatar),  style: 'height:100px;width:100px;'), member %>
  <h1><%= member.username %></h1>
  <h3><%= member.rank %></h3>
<% end %>