<div class='text-center mt-5 form'>
  <%= render partial: '/members/partials/form', locals: {submit: 'Sign Up'} %>
  <%= form_tag "/auth/google_oauth2" do %>
      <%= image_submit_tag("google_signin.png") %>
  <% end %>
  <%= link_to 'Back', root_path, class: 'w-50 btn btn-outline-primary btn-lg'%>
</div>
